

.main-header {
  background: url(../images/bg.jpg);
  background-size: auto auto;
  color: #fff;
  background-size: cover;
  position: relative;
  text-align: center;
} 

.main-header:after {
  position: absolute;
  display: block;
  color: #fff;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -50;
  background: rgba(17, 17, 16, 0.4);
}

.banner {
  text-align: center;
  padding: 150px 0 150px 0;
}

h2.banner {
  font-size: 1.5em;
  font-weight: 100;
  color: #fff;
}

.banner p {
  font-size: 1.5em;
  font-weight: 100;
  color: #fff;
}


.main-header .region{
  position: relative;
  z-index: 2;
}

/* START: ESTILO KVROL */

.estilokvrol {
  background: url(../images/kvrolmobile.jpg);
  color: #fff;
  padding: 10px 0 80px 0;

}

img {
  max-width: 100%; 
  height: 100%;
}

/* END: ESTILO KVROL */

.menu {
  background: #333131;
  padding: 10px 0 10px 0;
}

.profesionalismo-y-eficiencia {
  background: #E3B100;
  color: #fff;
  text-align: center;
}

.profesionalismo-y-eficiencia p {
  line-height: 1.8em;
  font-size: 1.3em;
  font-weight: 100;
}

.nuestraempresa {
  background: #f2f1f1;
  color: #888787;
  text-align: center;
}

.nuestrosprofesionales {
  background: #E3B100;
  color: #fff;
  text-align: center;
}

.areasdeactuacion {
  background: #f2f1f1;
  color: #888787;
  text-align: center;
}

.clientes {
  background: #f2f1f1;
  color: #888787;
  text-align: center;
}

.contacto {
  background: #fff;
  color: #888787;
  text-align: center;
}

.enlacesdeinteres  {
  background: #333131;
  color: #888787;
  text-align: center;
}

.footer  {
  background: #333131;
  color: #888787;
  text-align: center;
}

/* For width 400px and larger: */
.box {
  padding: 90px 20px;
}

@media only screen and (min-width: 450px) {
  .box {
    padding: 90px 90px;
  }
  h2 {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 450px) {
  .main-header {
    background: url(../images/bg.jpg);
    color: #fff;
    padding: 0 0 60px 0;
    background-size: cover;
    position: relative;
  }

}

@media only screen and (min-width: 450px) {
  .estilokvrol {
    background: url(../images/kvrol.jpg);
    color: #fff;
    padding: 30px 0 60px 0;
    background-size: cover;
    position: relative;
  }

}



